.dropdown {
  position: relative;
  min-width: 26rem;

  &__header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //height: 4.4rem;
    padding: 0.9rem;

    cursor: pointer;

    background: #ffffff;
    border: 1px solid $dark50;
    box-sizing: border-box;
    border-radius: 3px 3px 3px 3px;
  }

  &__header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0.4rem;
    padding-right: 2rem;

    cursor: pointer;

    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: rgba(31, 32, 65, 0.75);
  }

  &__icon {
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: $dark75;
  }

  &__ul {
    display: none;
    list-style: none;
    position: absolute;
    width: 100%;
    padding-inline-start: 0;
    margin-top: 0;
    border-radius: 0 0 2px 2px;
    background: #ffffff;
    z-index: 3;
    box-sizing: border-box;
    //box-shadow: 0px 10px 20px $dark50;
    text-transform: uppercase;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #1f2041;
    padding-bottom: 0.4rem;
    padding-top: 0.2rem;
  }

  &__li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_submit {
      text-align: end;
      color: #bc9cff;
    }

    &_buttons {
      margin-top: 1.2rem;
      margin-bottom: 0.6rem;
    }
  }

  &__li.selected {
    color: #aaaaaa;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  &__label {
    margin-bottom: 0.4rem;
  }

  &.open > :first-child {
    border-radius: 3px 3px 0 0;
    border-bottom: none;
  }

  &.open &__li {
    padding: 0.4rem 0.6rem 0.3rem 1.3rem;
  }

  &.open &__ul {
    display: block;
    border: 1px solid $dark50;
  }

  &__clear_hidden {
    visibility: hidden;
  }
}
