.dropdown {
  position: relative;
  max-width: 32rem;

  &__label {
    display: block;
    padding: 1rem;

    background: #ffffff;
    /* Dark 50% */
    border: 1px solid rgba(31, 32, 65, 0.5);
    box-sizing: border-box;
    border-radius: 2px 2px 0 0;

    cursor: pointer;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
  }

  &__ul {
    list-style: none;
    position: absolute;
    width: 100%;
    padding-inline-start: 0;
    margin-top: 0;
    border-radius: 0 0 2px 2px;
    /* Dark 50% */

    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

    //border-top: none;

    text-transform: uppercase;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #1f2041;
  }

  &__li {
    height: 0px;
    overflow: hidden;
    cursor: pointer;
    transition: height 0.1s linear 0s;
    &_submit {
      text-align: end;
      color: #bc9cff;
    }
  }

  &__li:hover,
  &__li.selected {
    color: #aaaaaa;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  &.open &__li {
    padding: 1rem;
    height: 3rem;
  }

  &.open &__ul {
    border: 1px solid rgba(31, 32, 65, 0.5);
  }
}
