mixin dropdown()    
    .dropdown
        label.dropdown__header Сколько гостей 
        ul.dropdown__ul
            li.dropdown__li
                .dropdown__label Взрослые
                + input-number("parent")
            li.dropdown__li
                .dropdown__label Дети
                + input-number("children")
            li.dropdown__li
                .dropdown__label Младенцы 
                + input-number("baby")           
            li.dropdown__li.dropdown__footer 
                + button4("dropdown__clear", "Очистить")
                + button4("dropdown__submit", "Применить")

        
            