//-
    options.name - имя компонента
    options.items - массив элементов выпадающего списка
    options.placeholder - текст в строке ввода по умолчанию

mixin dropdown(options = {})

    - let {name, placeholder, items} = options

    - classes = "dropdown-" + name

    .dropdown(class=classes)
        .dropdown__header-wrapper.js-dropdown__header-wrapper
            .dropdown__header= placeholder
            .dropdown__icon
                i.material-icons expand_more
        ul.dropdown__ul
            each val, index in items
                li.dropdown__li
                    .dropdown__label= val
                    +input-number(name + index)
            li.dropdown__li
                +button({text: "Очистить", style: "wb", color: "alt" })(class="dropdown__clear js-dropdown__clear dropdown__clear_hidden")                 
                +button({text: "Применить", style: "wb"})(class="dropdown__submit js-dropdown__submit")

        
            