.dropdown {
  position: relative;
  max-width: 32rem;
  min-width: 28.8rem;

  &__header-wrapper {
    display: flex;
    justify-content: space-between;

    cursor: pointer;

    background: #ffffff;
    /* Dark 50% */
    border: 1px solid rgba(31, 32, 65, 0.5);
    box-sizing: border-box;
    border-radius: 2px 2px 0 0;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 1rem;

    cursor: pointer;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
  }

  &__icon {
    width: 44px;
    height: 44px;

    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    /* Dark 75% */

    color: rgba(31, 32, 65, 0.75);
  }

  &__ul {
    list-style: none;
    position: absolute;
    width: 100%;
    padding-inline-start: 0;
    margin-top: 0;
    border-radius: 0 0 2px 2px;
    /* Dark 50% */

    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

    //border-top: none;

    text-transform: uppercase;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #1f2041;
  }

  &__li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0px;
    overflow: hidden;
    cursor: pointer;
    transition: height 0.1s linear 0s;
    &_submit {
      text-align: end;
      color: #bc9cff;
    }
  }

  &__footer {
  }

  &__li.selected {
    color: #aaaaaa;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  &.open &__li {
    padding: 0.7rem 0.5rem 0.7rem 1.5rem;
    height: 2.4rem;
  }

  &.open &__ul {
    border: 1px solid rgba(31, 32, 65, 0.5);
  }

  &__clear_hidden {
    visibility: hidden;
  }
}
