mixin dropdown()
    .dropdown
        label.dropdown__label(data-value="") Сколько гостей
        ul.dropdown__ul
            li.dropdown__li(data-value="1") Взрослые
            li.dropdown__li(data-value="2") Дети
            li.dropdown__li(data-value="3") Младенцы            
            li.dropdown__li.dropdown__li_submit() Применить