mixin signup()
    form.signup        
        +text({text: 'Регистрация аккаунта', size: 'h1'})
        +input({placeholder: 'Имя'})    
        +input({placeholder: 'Фамилия'})
        +radio()
        +text({text: 'Дата рождения', size: 'h3'})
        +input({placeholder: 'ДД.ММ.ГГГГ'})    
        +text({text: 'Данные для входа в сервис', size: 'h3'})
        +input({placeholder: 'Email'})    
        +input({placeholder: 'Пароль'})
        +toggle()
        +button({text: 'Перейти к оплате', style: 'ic'})
        .signin__footer
            +text({text: 'Уже есть аккаунт на Toxin', size: 'body'})
            +button({style: 'lt', text: 'Войти', size: 'sm'})
