mixin signin()    
    form.signin
        +text({text: 'Войти', size: 'h1'})
        +input({type: 'email', name: 'signin-email'}) 
        +input({type: 'pwd', name: 'signin-pwd'})
        +button({text: 'Войти', style: 'ic'})
        .signin__footer
            +text({text: 'Нет аккаунта на Toxin?', size: 'body'})
            +button({style: 'lt', text: 'Создать', size: 'bg'})