mixin signin()    
    form.signin
        h1.signin__title Войти
        .signin__email
            +input({type: 'email', name: 'signin-email'}) 
        .signin__pwd
            +input({type: 'pwd', name: 'signin-pwd'})
        .signin__button-enter
            +button({text: 'Войти', style: 'ic'})
        .signin__footer
            .signin__question
                +text({text: 'Нет аккаунта на Toxin?', size: 'body'})
            .signin__button-create
                +button({style: 'lt', text: 'Создать', size: 'bg'})