mixin signin()    
    form.signin
        .signin__header Войти
        +input({placeholder: "Email"})    
        +input({placeholder: "Пароль"})
        +button({text: "Войти", style: "ic"})
        .signin__footer
            .signin__text Нет аккаунта на Toxin?
            +button({style: "lt", text: "Создать", size: "sm"})