/* Данные стили взяты отсюда
https://drbrain.ru/articles/css-radio-buttons-styling/ */

.radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  & > :first-child {
    margin-right: 2rem;
  }
}

.radio-buttons__label {
  /* Выравниваем по горизонтали элементы, обернутые в label */
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  cursor: pointer;

  /* Скрываем штатные радио-кнопки */
  input {
    position: absolute;
    opacity: 0;
    display: block;
    height: 0;
    width: 0;
  }

  /* Устанавливаем параметры элементов, 
  заменяющих штатные радио-кнопки */
  .radio-buttons__item {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    position: relative;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    margin-right: 1rem;
    border: 1px solid $dark25;
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    transition: 0.5s all;
  }

  /* Параметры элементов, заменяющих 
  штатные радио-кнопки. На кнопку навели */
  &:hover .radio-buttons__item {
    border: 1px solid $dark25;
  }

  /* Параметры элементов, заменяющих штатные 
  радио-кнопки. Кнопку выбрали */
  input:checked + .radio-buttons__item {
    border-color: #bc9cff;
    background: #ffffff; /*фон активной кнопки*/
    cursor: default;
  }

  /* Добавляем декор */
  &:hover .radio-buttons__item::before,
  input:checked + .radio-buttons__item::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: #bc9cff; /*внутренний кружок выбранной кнопки*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Параметры подписей радио-кнопок */
  input + .radio-buttons__item + .radio-buttons__text {
    align-self: center;
    padding-bottom: 0.1rem;
  }

  /* Параметры подписей выбранных радио-кнопок */
  input:checked + .radio-buttons__item + .radio-buttons__text {
    color: $dark50;
    cursor: default;
  }
}
