/* Данные стили взяты отсюда
https://drbrain.ru/articles/css-radio-buttons-styling/ */

.radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 220.74px;
  height: 35px;
}

.radio-buttons__label {
  /* Выравниваем по горизонтали элементы, обернутые в label */
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;

  /* Скрываем штатные радио-кнопки */
  input {
    position: absolute;
    opacity: 0;
    display: block;
    height: 0;
    width: 0;
  }

  /* Устанавливаем параметры элементов, 
  заменяющих штатные радио-кнопки */
  .radio-buttons__item {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin-right: 5px;
    /* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    transition: 0.5s all;
  }

  /* Параметры элементов, заменяющих 
  штатные радио-кнопки. На кнопку навели */
  &:hover .radio-buttons__item {
    /* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.5);
  }

  /* Параметры элементов, заменяющих штатные 
  радио-кнопки. Кнопку выбрали */
  input:checked + .radio-buttons__item {
    border-color: #bc9cff;
    background: #ffffff; /*фон активной кнопки*/
    cursor: default;
  }

  /* Добавляем декор */
  &:hover .radio-buttons__item::before,
  input:checked + .radio-buttons__item::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: #bc9cff; /*внутренний кружок выбранной кнопки*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /*
  input:checked + .radio-buttons__item::before {
    //Бордюр маленького кружка
    border: 1px solid rgba(31, 32, 65, 0.25);
  }
  */

  /* Параметры подписей радио-кнопок */
  input + .radio-buttons__item + .radio-buttons__text {
    /* Dark 75% */
    color: rgba(31, 32, 65, 0.5);
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    font-family: sans-serif;
    cursor: pointer;
    //margin-right: 10px;
    align-self: center;
  }

  /* Параметры подписей выбранных радио-кнопок */
  input:checked + .radio-buttons__item + .radio-buttons__text {
    /* Dark 50% */
    color: rgba(31, 32, 65, 0.75);
    cursor: default;
  }
}
