mixin radio(options ={})
    .radio-buttons
        label.radio-buttons__label(for="radioButtonsMan")
            input.radio-buttons__button(type="radio" name="gender" value="man" id="radioButtonsMan" checked)
            span.radio-buttons__item
            span.radio-buttons__text Мужчина

        label.radio-buttons__label(for="radioButtonWoman")
            input.radio-buttons__button(type="radio" name="gender" value="woman" id="radioButtonWoman")
            span.radio-buttons__item
            span.radio-buttons__text Женщина