.input {
  display: inline-block;
  position: relative;
  width: 100%;

  &__input {
    background: #ffffff;
    border: 1px solid $dark25;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 1.1rem 1.4rem 1.3rem;
    width: 100%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.8rem;

    &:hover,
    &:focus {
      border-color: $dark50;
    }
  }

  &_arrow-off {
    display: none;
  }

  &_arrow-on {
    position: absolute;
    top: 50%;
    left: 92%;
    transform: translate(-50%, -50%);

    .material-icons {
      cursor: pointer;

      font-family: Material Icons;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;

      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #bc9cff; //Для не поддерживающих градиент браузеров
    }
  }
}
