//-
    options.name - уникальное имя поля для обработчика (обязательное)
    options.type - тип элемента (https://developer.mozilla.org/ru/docs/Web/HTML/Element/Input).
    options.placeholder - подсказка в строке ввода    
    options.arrow - добавляет стрелку в поле справа ('y' или 'yes' или 'arrow' - стрелка включена, любое другое значение отключает стрелку)
    options.size - ширина поля в символах
    options.label - 

//-link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')

mixin input(options = {})
    
    - let {name, type = 'text', placeholder = 'Text', arrow = ''} = options
    
    case type            
        when 'email'
            -
                inputmode = type
                placeholder = placeholder === 'Text' ? 'Email' : placeholder
        when 'pwd'
        when 'password'
            -
                inputmode = 'number' 
                placeholder = placeholder === 'Text' ? 'Пароль' : placeholder  
        when 'date'
            -
                placeholder = placeholder === 'Text' ? 'ДД.ММ.ГГГГ' : placeholder                
        default
            -
                type = 'text'
                inputmode = 'text'

    if (name === undefined)
        - placeholder = 'Введите имя поля для обработчика'

    - if (arrow === 'y' || arrow === 'yes' || arrow === 'arrow')
        - addArrow = 'text-field text-field_add-arrow-on'
    - else addArrow = 'text-field text-field_add-arrow-off'

    .input 
        input.input__input(               
            name = name                   
            type = type             
            placeholder=placeholder 
            inputmode=inputmode            
            )  
        div(class=addArrow)
            i.material-icons arrow_forward
