@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400&display=swap");
@import "../components/button/button";
@import "../components/button2/button2";
@import "../components/link/link";
@import "../components/button3/button3";
@import "../components/pagination/pagination";
@import "../components/radio-buttons/radio-buttons";

.container-label {
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  text-transform: uppercase;

  /* Dark 100% */

  color: #1f2041;
}

.container-button {
  padding-top: 1rem;
}

.container-button2 {
  padding-top: 1rem;
}

.container-link {
  padding-top: 1rem;
}

.container-button3 {
  padding-top: 1rem;
}

.container-pagination {
  padding-top: 1rem;
}

.container-radio-buttons {
  padding-top: 1rem;
}
