extends ../template    

block title
  |  Страница UI-Kit
   
block main   
  .color-types
  
    .color-types__logo
      include ../../theme/logo-dark-25.svg
  
  mixin container(name)
    .container
      .container-label= name 
      block

  +container('room-card')
    +room-card({rate: 5, price: 9990, number: 888, review: 145, luxe: true})

  +container('header')
    +header()
  +container('header')
    +header({username: 'Юлий Цезарь'})
  +container('footer')
    +footer()
  +container('Button')
    +button({style: "lt", text: "Войти"})
  .container
    +button({text: "Зарегистрироваться", size: 'sm'})
  .container
    +button({style: "ic", text: "Перейти к оплате"})
  .container
    +button({style: "wb", text: "Click Me"})

  +container('Checkbox')
    +select({name: 'checkbox'})
  
  +container('Pagination')
    include ../../components/pagination/pagination
  +container('Dropdown')
    +dropdown({name: "comfort", placeholder: "Какие удобства", items: ["спальни", "кровати", "ванные комнаты"]})
  +container('Dropdown')
    +dropdown({name: "visitor", placeholder: "Сколько гостей", items: ["взрослые", "дети", "младенцы"]})
  +container('Date Dropdown')
    +date()

  +container('Radio Buttons')
    +radio()
  +container('Toggle')
    +toggle()
  +container('Rate button')
    //-+rate()

  +container('Checkbox')
    +listbox({items: ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)']})
  +container('Checkbox list')
    +listbox({title:'expandable checkbox list', type: 'drop', items: ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь']})
  +container('rich Checkbox Buttons')
    +listbox({title:'rich Checkbox Buttons', items: [{name: 'Широкий коридор', desc: 'Ширина коридоров в номере не менее 91 см.'}, {name: 'Помощник для инвалидов', desc: 'На 1 этаже вас встретит специалист  и проводит до номера.'}]})
  +container('Bullet list')
    +listbox({title:'Bullet list', content: 'ul', items: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']})

  +container('Slider')
    include ../../components/slider/slider   
  +container('Text Field')
    +field('e', 'Email', 'email', 'y', 32)
  +container('Subscription text field')
    +field('e', 'Email', 'subscription', 'n', 20)   
  .container
    +button({style: "ic", text: "Перейти"})
  +button({style: "lt", text: "Click Me"})
  +container('Signin')
    +signin()
  +container('Signup')
    +signup()
  +container('Search Rooms')
    +search-rooms()
  +container('Room Calc')
    +room-calc({number: 888, luxe: true, rate: 9990, arrival: '19.08.2019', departure: '23.08.2019', discount: 2179, toll: 0, feeAddService: 300})

 
  

  
  