extends ../template    

block title
  |  Страница UI-Kit
   
block main   
  .color-types

    .color-types__logo
      include ../../theme/logo-dark-25.svg
    .color-types__color
      +color-items("Dark Shade 100%", "#1F2041",  "#1F2041")
      +color-items("Dark Shade 75%", "#1F2041",  "rgba(31, 32, 65, 0.75)")
      +color-items("Dark Shade 50%", "#1F2041",  "rgba(31, 32, 65, 0.5)")
      +color-items("Dark Shade 25%", "#1F2041",  "rgba(31, 32, 65, 0.25)")
      +color-items("Dark Shade 5%", "#1F2041",  "rgba(31, 32, 65, 0.05)")
      +color-items("Purple",  "#BC9CFF",  "#BC9CFF")
      +color-items("Green",  "#BC9CFF",  "#6FCF97")

    .color-types__types
      +types
  
  mixin container(name)
    .container
      .container-label= name 
      block


  +container('Button')
    +button({type: "sm", text: "Click Me"})
  .container
    +button({type: "md", text: "Зарегистрироваться"})
  
  .container
    include ../../components/button3/button3
  .container
    include ../../components/button4/button4


  +container('Button4')
    +button4({type: "sm", label: "Click Me"})

  +container('Pagination')
    include ../../components/pagination/pagination
  +container('Date Dropdown')
    include ../../components/date/date   

  +container('Radio Buttons')
    include ../../components/radio-buttons/radio-buttons
  +container('Toggle')
    include ../../components/toggle/toggle
  +container('Rate button')
    include ../../components/rate/rate

  +container('Checkbox')
    include ../../components/checkbox/checkbox   
  +container('Slider')
    include ../../components/slider/slider   
  +container('Text Field')
    +field('e', 'Email', 'email', 'y', 32)
  +container('Subscription text field')
    +field('e', 'Email', 'subscription', 'n', 20)    
  +container('Dropdown')
    +dropdown()
 
  

  
  