@import "./src/theme/variables.scss";

@import "../components/сolor-item/сolor-item";
@import "../components/types/types.scss";
@import "../components/button/button";
@import "../components/button2/button2";
@import "../components/button3/button3";
@import "../components/pagination/pagination";
@import "../components/radio-buttons/radio-buttons";
@import "../components/toggle/toggle";
@import "../components/checkbox/checkbox";
@import "../components/text-field/text-field";
@import "../components/dropdown/dropdown";
//@import "../components/dropdown/input-number/input-number";

.color-types {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 90rem;

  &__logo {
    position: absolute;
    top: 3rem;
    left: 3rem;
  }

  &__color {
    display: flex;
    flex-direction: column;
    margin-left: 14rem;
  }
}

.container {
  margin: 1rem;
}

.container-label {
  @include font-body(bold, 1.2rem, 1.5rem);
  text-transform: uppercase;
  color: $dark;
  margin: 0.5rem;
}
