extends ../template    

block title
  |  Страница UI-Kit
    
block main

  h1 Страница UI-Kit

  mixin compo(name)
    .container
      .container-label= name 
      block

  .container   
    include ../../components/button/button
  .container
    include ../../components/button2/button2
  .container
    include ../../components/link/link
  .container
    include ../../components/button3/button3

  +compo('Pagination')
    include ../../components/pagination/pagination

  +compo('Radio Buttons')
    include ../../components/radio-buttons/radio-buttons
  +compo('Toggle')
    include ../../components/toggle/toggle
  +compo('Checkbox')
    include ../../components/checkbox/checkbox

  +compo('Text Field')
    +field('e', 'Email', 'email', 'y', 32)
  +compo('Subscription text field')
    +field('e', 'Email', 'subscription', 'n', 20)