.radio-buttons
    .radio-buttons__item
        input.radio-buttons__button#radioButtonMan(type="radio" name="gender" value="man" checked)
        label.radio-buttons__label(for="radioButtonsMan")  Мужчина
    .radio-buttons__item
        input.radio-buttons__button#radioButtonWoman(type="radio" name="gender" value="woman")
        label.radio-buttons__label(for="radioButtonWoman") Женщина
