.landing {
  min-width: 32rem;
  &__main {
    background: url("img/image-3.jpg") no-repeat;
    background-size: cover;
    margin-top: -7rem;
    padding: 0 2rem;

    @media (max-width: 420px) {
      padding: 0;
    }
  }

  &__search-rooms {
    position: absolute;
    top: 14rem;
    left: 0;

    @media (max-width: 768px) {
      position: static;
      padding-top: 10rem;
    }

    @media (max-width: 420px) {
      & > :first-child {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__slogan-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__slogan {
    text-align: right;
    padding-top: 83.1rem;
    padding-bottom: 2.1rem;
    max-width: 30rem;
  }
}
