extends ../template 

block title
  |  Страница Lending

block main   
  .landing    
    +header()
    main.main.landing__main      
      .landing__content-width
        .landing__content-wrapper
          .landing__search-rooms
            +search-rooms()
          .landing__slogan-wrapper
            p.landing__slogan Лучшие номера для вашей работы, отдыха и просто вдохновения    
    footer.landing-footer      
      +footer()

