extends ../template 

block title
  |  Страница Lending

block main   
  .landing    
    .landing__header
      .main
        +header()
    .landing__frame
      .main
        .landing__search-rooms
          +search-rooms()
        p.landing__slogan Лучшие номера для вашей работы, отдыха и просто вдохновения    
    .landing__footer
      .main
        +footer()
