.landing {
  width: 100%;
  min-width: 32rem;

  &__main {
    background: url("img/image-3.jpg") 0 -7rem no-repeat;
    background-size: auto;
    padding: 0 2rem;

    @media (max-width: 420px) {
      padding: 0;
    }
  }

  &__content-width {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__content-wrapper {
    padding: 0 1.4rem 0 2rem;

    @media (max-width: 420px) {
      padding: 0;
    }
  }

  &__search-rooms {
    padding-top: 7rem;

    @media (max-width: 420px) {
      & > :first-child {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__slogan-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__slogan {
    text-align: right;
    padding-top: 31.7rem;
    padding-bottom: 2.1rem;
    max-width: 30rem;

    @media (max-width: 420px) {
      text-align: center;
    }
  }
}
