.landing {
  &__main {
    background: url("img/image-3.jpg") no-repeat;
    background-size: cover;
    //background-position: center -7rem;
    //box-sizing: border-box;
    margin-top: -7rem;
  }

  &__search-rooms {
    position: absolute;
    top: 14rem;
    left: 0;
  }

  &__slogan-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__slogan {
    text-align: right;
    padding-top: 83.1rem;
    padding-bottom: 2rem;
    max-width: 30rem;
  }
}
