.date {
  position: relative;
  display: flex;

  &__input {
    height: 4.4rem;
    padding-left: 1.5rem;

    width: 100%;
    background: #ffffff;
    border: 1px solid $dark25;
    box-sizing: border-box;
    border-radius: 4px;
  }

  &__icon {
    position: absolute;
    top: 25%;
    left: 87%;
    display: flex;

    pointer-events: none;

    font-family: Material-Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: $dark50;
  }
}

.datepicker {
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  color: $dark50;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;

  &--nav-title,
  &--nav-title i {
    font-family: Quicksand, Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;

    /* Dark 100% */

    color: #1f2041;
  }

  &--day-name {
    font-weight: bold;
    color: $purple;
  }

  &--cell {
    &.-selected-,
    &.-range-from- {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 22px;
      font-weight: bold;
    }

    &.-focus- {
      border-radius: 22px;
    }

    &.-selected-.-focus- {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      opacity: 0.7;
      font-weight: bold;
    }

    &.-current- {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      border-radius: 22px;
      color: #ffffff;
      font-weight: bold;
    }

    &.-focus-.-current- {
      color: #ffffff;
      opacity: 0.7;
    }

    &.-other-month- {
      color: $dark25;
    }

    &.-in-range- {
      //Подобрать цвет пипеткой
    }
  }
}
