.date
    <input type='text' data-range="true" data-multiple-dates-separator=" - " data-position="left top" class="date__input datepicker-here" placeholder="ДД,ММ.ГГГГ"/>
    .date__icon
        <i class="material-icons">expand_more</i>