//$button-border: 2px; //Ширина бордюра инверсной кнопки

.button {
  /* Сбрасываем дефолтные стили */
  padding: 1.5rem 1rem;
  border: none;
  outline: none;

  display: flex;
  justify-content: space-between;
  cursor: pointer;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;

  border-radius: 2.2rem;
  //display: inline-block;

  position: relative;
  //box-sizing: border-box;

  &__style {
    &_wb {
      background: none;
      color: #bc9cff;
    }

    &_lt {
      //position: relative;
      padding: 3px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);

      & > .button__text {
        margin: 0;
        display: flex;
        align-items: center;
        background: #ffffff;
        color: #bc9cff;
        border-radius: inherit;
        width: 100%;
        height: 100%;
        padding: 1.2rem 2.4rem;
        box-sizing: border-box;
      }
    }

    &_st {
      color: #ffffff;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      //background-clip: padding-box; /* !importanté */
      //border: solid $button-border transparent; /* !importanté */
    }

    &_ic {
      display: flex;
      align-items: center;

      width: 100%;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      color: #ffffff;

      .button__text {
        width: 100%;
        //padding: auto;
      }

      .button__icon {
        position: absolute;
        top: 50%;
        left: 94%;
        transform: translate(-50%, -50%);
      }

      .material-icons {
        font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;

        color: #ffffff;
      }
    }

    &_st:active,
    &_lt:active,
    &_ic:active {
      opacity: 0.5;
    }

    &_wb:active {
      color: rgba(31, 32, 65, 0.5);
    }

    &:active:before {
      opacity: 0.2;
    }

    &_wb:hover {
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &_st:hover,
    &_lt:hover,
    &_ic:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__color {
    &_alt {
      color: rgba(31, 32, 65, 0.5);
    }
  }
}
