import "./button.scss";
//-
    Вызов
    +button({Опции})(Атрибуты)
    
    Опции вызываются в виде:
        ({ключ: "значение", ключ: "значение", ...})
    Пример вызова атрибутов:
        (class="имя-класса" href="url-адрес" ...)

    Опции:
    options.text - текст на кнопке
    options.size - размер ('' или 'bg' - большая, 'sm' - маленькая)
    options.style - стиль ('' или 'st' - обычная, 'lt' - белый фон, 'wb' - без фона и бордера, 'ic' - с иконкой)
    options.color - цвет текста ('' или 'st' - обычная, 'alt' - альтернативный)
    Атрибуты:
    attributes.class - классы

mixin button(options)
    
    -
        let {text = "", size = "bg", style = "st", color = "st"} = options
        var classes = "button " + "button__style_" + style + " button__color_" + color
        var pict = style == "ic" ? "arrow_forward" : ""

    button(class=classes class!=attributes.class)= text
        i.material-icons= pict