$button-border: 2px; //Ширина бордюра инверсной кнопки

.button {
  /* Сбрасываем дефолтные стили */
  padding: 0;
  border: none;
  outline: none;

  text-align: center;
  cursor: pointer;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;

  border-radius: 22px;
  display: inline-block;

  position: relative;
  box-sizing: border-box;

  &__style {
    &_wb {
      background: none;
      color: #bc9cff;
    }

    &_lt {
      padding: 8px 19px;
      color: #bc9cff;
      background: #ffffff;
      background-clip: padding-box; /* !importanté */
      border: solid $button-border transparent; /* !importanté */

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -$button-border; // !importanté
        border-radius: inherit; // !importanté
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      }
    }

    &_st {
      padding: 12px 16px;
      color: #ffffff;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      //background-clip: padding-box; /* !importanté */
      //border: solid $button-border transparent; /* !importanté */
    }

    &_ic {
      display: flex;
      align-items: center;
      width: 320px;
      height: 44px;

      padding: 0 0 0 96px;

      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      color: #ffffff;

      .material-icons {
        margin-left: 60px;
        //font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;

        color: #ffffff;
      }
    }

    &_st:active,
    &_lt:active,
    &_ic:active {
      opacity: 0.5;
    }

    &_wb:active {
      color: rgba(31, 32, 65, 0.5);
    }

    &:active:before {
      opacity: 0.2;
    }

    &_wb:hover {
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &_st:hover,
    &_lt:hover,
    &_ic:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__color {
    &_alt {
      color: rgba(31, 32, 65, 0.5);
    }
  }
}
