extends ../template
block main
  body.body 
    h1 Страница UI-Kit

    .container-button    
      include ../components/button/button
    .container-button2
      include ../components/button2/button2
    .container-link
      include ../components/link/link
    .container-button3
      include ../components/button3/button3
    .container-pagination
      .container-label Pagination
      include ../components/pagination/pagination
    .container-radio-buttons
      .container-label Radio Buttons
      include ../components/radio-buttons/radio-buttons