doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" href="ui-kit.scss")
    title UI-Kit
  body.body
    .container-button
      include button/button
    .container-button2
      include button2/button2
    .container-link
      include link/link
    .container-button3
      include button3/button3
    .container-pagination
      include pagination/pagination