.nav-bar
  .container-logo
    include logo/logo.pug

  ul.group 
    li.item 
      a.link(href="#") Home
    li.item 
      a.link(href="#") About Us
    li.item 
      a.link(href="#") Services
    li.item 
      a.link(href="#") Careers
    li.item 
      a.link(href="#") News
    li.item 
      a.link(href="#") Documentation
  .container-button
    include button/button.pug
  .container-button2
    include button2/button2.pug
