fieldset.rating
    legend.rating__caption
    .rating__grop
        label.rating__label
            input(class="rating__checkbox" type="radio" name="health" value="1")
            i.material-icons.rating__star.rating__star1 star_border
        label.rating__label
            input(class="rating__checkbox" type="radio" name="health" value="2")
            i.material-icons.rating__star.rating__star2 star_border
        label.rating__label
            input(class="rating__checkbox" type="radio" name="health" value="3")
            i.material-icons.rating__star.rating__star3 star_border
        label.rating__label
            input(class="rating__checkbox" type="radio" name="health" value="4")
            i.material-icons.rating__star.rating__star4 star_border
        label.rating__label
            input(class="rating__checkbox" type="radio" name="health" value="5")
            i.material-icons.rating__star.rating__star5 star_border
            
