mixin logo()
    .logo 
        //-p logo
        img.logo__img(src='../../components/logo/logo.svg', alt='Значок логотипа')
        img.logo__text(src="../../components/logo/logo-text.svg", alt="Текст логотипа")
