mixin logo()
    .logo
        a(href='../landing.html')
            img.logo__img(src='assets/img/logo.svg', alt='Значок логотипа')
            img.logo__text(src="assets/img/logo-text.svg", alt="Текст логотипа")
