//-
    
    options.name - уникальное имя компонента
    options.label - 
    options.type -
    options.inherit - наследует стили родителя

mixin select(options = {})

    - let {name, label = 'Checkbox', type = 'checkbox', inherit = false} = options
    - if (inherit === true)
        - classes = 'select__label_inherit'
    -else
        - classes = 'select__label'

    .select
        label(class=classes)= label
            input.select__input(
                type = type
                name = name            
            )
            span.select__span