.select {
  &__label {
    display: block;
    position: relative;
    padding-left: 2.98rem;
    user-select: none;
    cursor: pointer;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;

    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $dark50;

    &_inherit {
      display: block;
      position: relative;
      padding-left: 3rem;
      cursor: pointer;
      user-select: none;
      padding-top: 0.1rem;
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
    //cursor: pointer;
    height: 0;
    width: 0;
  }

  &__span {
    display: block;
    position: absolute;
    top: 0.046rem;
    left: 0;
    height: 2rem;
    width: 2rem;
    background-color: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;

    // Для галочки
    &::before {
      content: "";
      position: absolute;
      display: none;
      left: 0.6rem;
      top: 0.4rem;
      width: 0.4rem;
      height: 0.6rem;
      border: solid #ff0000;

      border-width: 0 2px 2px 0;
      //background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
    }
  }

  &__label:hover &__input ~ &__span {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__input:checked ~ &__span::before {
    display: block;
  }
}
