@import "./src/theme/variables.scss";

.color-types {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 90rem;

  &__logo {
    position: absolute;
    top: 3rem;
    left: 3rem;
  }

  &__color {
    display: flex;
    flex-direction: column;
    margin-left: 14rem;
  }
}
