.room {
  background: #ffffff;

  &__banner {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    //overflow: hidden;

    &-img3 {
      margin-top: -0.1rem;
    }
  }

  &__main {
    display: flex;
    margin: 7rem 0 6.2rem;
  }

  &__wrapper-content {
    display: flex;
  }

  &__content {
    margin-right: 3rem;

    &-top {
      display: flex;
      //margin-right: 3rem;
    }

    &-bottom {
      display: flex;
    }
  }

  &__row {
    display: flex;
  }

  &__info {
    flex: 1 1 auto;

    &-title {
      margin-bottom: 2rem;
      width: 28rem;
    }

    &-content {
      width: 28rem;
    }
  }

  &__impress {
    flex: 1 1 auto;

    &-title {
      margin-bottom: 1.8rem;
      padding-left: 0.3rem;
    }
  }

  &__reviews {
    margin-top: 2.1rem;
    margin-bottom: 3.3rem;
    margin-left: -0.1rem;
    //margin-right: 3rem;

    &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
    }

    &-number {
      margin-right: 4rem;
    }

    &-content {
      margin-right: 4rem;
    }

    &-item {
      margin-bottom: 2.3rem;
    }

    &-username {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      /* or 171% */
      color: $dark75;
    }

    &-message {
      margin-top: 1rem;
    }

    &-avatar {
      //border: 1px solid #000000;
      //margin-top: -0.2rem;
      //margin-left: -0.3rem;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      //background: url("murad.jpg") no-repeat;
      //background-position: -19 -9;
      overflow: hidden;
      margin-right: 1rem;

      &-img {
        margin-left: -2rem;
        margin-top: -1rem;
      }
    }
  }

  &__like {
    margin-left: 0.5rem;
    margin-top: 1.2rem;
  }

  &__rules {
    //flex-basis: 36%;
    flex: 1 1 41.6%;

    &-title {
      margin-bottom: 1.7rem;
      margin-left: 2rem;
    }

    &-list {
      max-width: 26rem;
    }
  }

  &__cancel {
    //flex-basis: 48%;
    //margin-right: 0.8rem;
    flex: 1 1 auto;

    &-title {
      margin-bottom: 1.7rem;
    }

    &-content {
      max-width: 34rem;
    }
  }

  &__footer {
    border-top: 1px solid rgba(31, 32, 65, 0.25);
  }
}

@media (max-width: 1439px) {
  .room__banner-right {
    display: none;
  }

  .room__main {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (max-width: 1050px) {
  .room {
    &__banner-img1 {
      width: 100%;
    }

    &__wrapper-content {
      flex-wrap: wrap;
    }

    &__content {
      margin: 0 auto;
    }

    &__sidebar {
      margin: 3rem auto 0;
    }
  }
}

@media (max-width: 680px) {
  .room {
    &__content-top {
      flex-direction: column;
      align-items: center;
    }

    &__impress {
      margin: 4rem 0;
    }

    &__content-bottom {
      flex-direction: column;
      align-items: center;
    }

    &__rules {
      flex: 1 1 auto;
      margin-bottom: 2rem;

      &-list {
        max-width: none;
      }
    }
  }
}
