.room {
  &__main {
    display: flex;
    width: 80.6%;
    margin-left: auto;
    margin-right: auto;
  }

  &__content {
    width: 91%;

    & > :nth-child(3) {
      justify-content: space-between;
    }
  }

  &__row {
    display: flex;
  }

  &__info {
    flex-basis: 50.4%;

    &-title {
      margin-bottom: 2rem;
    }
  }

  &__impress {
    flex-basis: 49%;

    &-title {
      margin-bottom: 1.8rem;
      padding-left: 0.3rem;
    }
  }

  &__reviews {
    margin-top: 2.1rem;
    margin-bottom: 3.3rem;
    margin-left: -0.1rem;

    & > :nth-child(1) {
      justify-content: space-between;
      margin-bottom: 2rem;
    }

    &-item {
      margin-bottom: 2.3rem;
    }

    &-username {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      /* or 171% */
      color: $dark75;
    }

    &-message {
      margin-top: 1rem;
    }

    &-avatar {
      //border: 1px solid #000000;
      //margin-top: -0.2rem;
      //margin-left: -0.3rem;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      //background: url("murad.jpg") no-repeat;
      //background-position: -19 -9;
      overflow: hidden;
      margin-right: 1rem;

      &-img {
        margin-left: -2rem;
        margin-top: -1rem;
      }
    }
  }

  &__rules {
    flex-basis: 36%;

    &-title {
      margin-bottom: 1.7rem;
      margin-left: 2rem;
    }
  }

  &__cancel {
    flex-basis: 48%;
    margin-right: 0.8rem;

    &-title {
      margin-bottom: 1.7rem;
    }
  }
}
