@import "../pages/ui-kit/ui-kit.scss";
@import "../pages/landing/landing.scss";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400&display=swap");
//$color: red;
//$imgBackground: url(image.jpg);

.body {
  background: url(image.jpg);
  margin: 0;
}

.container-macbook {
  .container-nav-bar {
    width: 100%;
  }
}
