@import "../pages/ui-kit/ui-kit.scss";
@import "../pages/colors-type/colors-type.scss";
//@import "../pages/landing/landing.scss";

//$color: red;
//$imgBackground: url(image.jpg);

html {
  font-size: 10px;
}

body {
  margin: 0;
  background-color: #dddddd;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  /* Dark 75% */
  color: rgba(31, 32, 65, 0.75);
}

h1 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;

  /* Dark 100% */

  color: #1f2041;
}

h2 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  /* Dark 100% */
  color: #1f2041;
}

h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-transform: uppercase;
  color: #1f2041;
}

.container-macbook {
  .container-nav-bar {
    width: 100%;
  }
}

// Remove border and padding in Firefox
::-moz-focus-outer,
::-moz-focus-inner {
  border: 0;
  padding: 0;
}

:focus {
  outline: none !important;
}
