@import "../pages/ui-kit/ui-kit.scss";
@import "../pages/landing/landing.scss";

//$color: red;
//$imgBackground: url(image.jpg);

html {
  font-size: 10px;
}

body {
  margin: 0;
}

.container-macbook {
  .container-nav-bar {
    width: 100%;
  }
}

// Remove border and padding in Firefox
::-moz-focus-outer,
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
:focus {
  outline: none !important;
}
