//-
    name - любое имя, которое будет добавлено к уточняющему классу
mixin input-number(name)

    - classes = "input-number-" + name
    - classes2 = name + " input-number__input"

    .input-number(class=classes)    
        button.input-number__button.minus -
        input(class=classes2 type="number" value="0" min="0" max="10")
        button.input-number__button.plus +