.pagination {
  margin: 0;
  width: 241px;
  height: 75px;

  .pagination__ul {
    margin-top: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    list-style: none;

    .pagination__li {
      flex-basis: 0;
      flex-grow: 1;
    }

    .pagination__item {
      position: relative;
      text-decoration: none;
      color: rgba(31, 32, 65, 0.5);
    }

    .pagination__number {
      /* position: absolute, top и transform, а также position: relative
    в родительском блоке ценрируют данный блок вертикально 
    и горизонтально*/
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .pagination__item_active {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 22px;
      padding: 12.5px 20.5px;
      font-weight: bold;
      color: #ffffff;
    }

    .button-next {
      /* Сбрасываем дефолтные стили */
      border: none;
      outline: none;

      cursor: pointer;

      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      border-radius: 22px;
      padding: 6.5px 8px;
      color: #ffffff;
    }
  }

  .pagination__text {
    margin-top: -4px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    /* Dark 75% */

    color: rgba(31, 32, 65, 0.75);
  }
}
