nav
    ul.pagination
        li.previous
            a.item(href="#") Предыдущая
        li.active
            a.item(href="#") 1
        li
            a.item(href="#") 2
        li
            a.item(href="#") 3
        li
            a.item(href="#") ...
        li
            a.item(href="#") 15
        li.next
            a.item(href="#") 
            i.material-icons arrow_forward