doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge") 
    link(rel="stylesheet", href="../../theme/main.scss")   
    title Учебный проект по верстке
    meta(name="Keywords" content="верстка, Pug, SCSS, JavaScript")
    meta(name="description", content="Основы верстки на Pug, SCSS и JS")
    block main 
    



