include ../components/types/types
include ../components/text-field/text-field
include ../components/dropdown/dropdown
include ../components/dropdown/input-number/input-number
include ../components/button/button
include ../components/signin/signin
include ../components/signup/signup
include ../components/input/input
include ../components/toggle/toggle
include ../components/radio/radio
include ../components/date/date
include ../components/color-table/color-table
include ../components/text/text
include ../components/search-rooms/search-rooms
include ../components/header/header
include ../components/logo/logo
include ../components/select/select
include ../components/listbox/listbox
include ../components/room-calc/room-calc
include ../components/footer/footer
include ../components/room-card/room-card
include ../components/rate/rate


doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")       
    //-link(rel="stylesheet", href="../../theme/main.scss")    
    //-link(rel="stylesheet", href="../../theme/variables.scss")    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    //<link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    //- <link href="dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
    //- <script src="dist/js/datepicker.min.js"></script>

    meta(name="Keywords" content="верстка, Pug, SCSS, JavaScript")
    meta(name="description", content="Основы верстки на Pug, SCSS и JS")

  title
    block title

  body
    block main 
    //-script(src="../index.js")
    
