include ../components/types/types
include ../components/text-field/text-field
include ../components/dropdown/dropdown
include ../components/dropdown/input-number/input-number
include ../components/button/button
include ../components/signin/signin
include ../components/signup/signup
include ../components/input/input
include ../components/toggle/toggle
include ../components/radio/radio
include ../components/color-item/color-item
include ../components/text/text

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")       
    link(rel="stylesheet", href="../../theme/main.scss")    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    //<link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    meta(name="Keywords" content="верстка, Pug, SCSS, JavaScript")
    meta(name="description", content="Основы верстки на Pug, SCSS и JS")

  title
    block title

  body
    block main 
    script(src="../../components/signup/signup.js")
    script(src="../../components/input/input.js")    
    script(src="../../components/signin/signin.js")    
    script(src="../../components/button/button.js")    
    script(src="../../components/dropdown/input-number/input-number.js")
    script(src="../../components/dropdown/dropdown.js")
    script(src="../../components/slider/slider.js")
    script(src="../../components/date/date.js")
    script(src="../../components/rate/rate.js")
    script(src="../../components/toggle/toggle.js")
    script(src="../../components/radio/radio.js")
    script(src="../../components/color-item/color-item.js")
    script(src="../../components/text/text.js")

    script(src="../../theme/main.js") 
