extends ../template 

block title
  |  Страница Sign in

block main   
    .signin-pg
        .signin-pg__wrapper
            .signin-pg__header            
                +header()
            .signin-pg__main
                .signin-pg__signin
                    +signin()
            .signin-pg__footer
                +footer()