.signin-pg {
  width: 100%;
  min-width: 32rem;

  &__main {
    background: url("img/image4.jpg") 0 -7rem no-repeat;
    background-size: cover;

    padding: 17.2rem 2rem;

    @media (max-width: 1440px) {
      background-size: auto;
    }
  }

  &__signin {
    display: flex;
    justify-content: center;
  }
}
