//- 
  Чтобы Header прилипал к верху страницы, его не нужно оборачивать
  в персональный контейнер
  
  options.username - имя пользователя

mixin header(options = {})

  - let {username = ''} = options

  header.header
    .content-width
      .header-wrapper
        .header__logo
          +logo()
        .header__right
          .header__menu
            +menu()
          .header__menu_mobile
            +menu({type: 'mobile'})
          .header-sign
            .header-sign__icon
              i.material-icons person
            .header-sign__group
              if (username !== '')
                .header-sign__username-group
                  .header-sign__vertical-bar
                  .header-sign__username= username
              else
                .header-sign__button
                  .header-sign__button-signin
                    +button({text: 'Войти', style: 'lt', height: 'xs'})   
                  .header-sign__button-signup
                    +button({text: 'Зарегистрироваться', height: 'xs'})


