// Для стилизации выпадающего меню я использовал статью https://html5book.ru/mnogourovnevoe-vypadayushee-menu/

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  //z-index: 100;

  &__logo {
    display: flex;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__menu {
    &_mobile {
      display: none;
    }
  }

  & .material-icons {
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;

    display: flex;
    align-items: center;
    text-align: center;

    color: rgba(31, 32, 65, 0.5);
  }

  &__vertical-bar {
    height: 3rem;
    width: 1px;
    background: rgba(31, 32, 65, 0.1);
  }

  &__username {
    display: flex;
    align-items: center;
  }
}

.header-main-sign {
  display: flex;
  align-items: center;
  margin-left: 0.2rem;

  &__icon {
    display: none;
  }

  &__icon .material-icons {
    font-size: 30px;

    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: hsl(259, 100%, 81%); //Для не поддерживающих градиент браузеров
  }

  &__button {
    display: flex;
    // Промежуток между кнопками
    & > :first-child {
      margin-right: 2rem;
    }
  }
}

@media (max-width: 950px) {
  .header-main-sign {
    &__group {
      display: none;
    }

    &__icon {
      display: flex;
    }
  }
}

@media (max-width: 700px) {
  .header-main {
    &__menu {
      display: none;

      &_mobile {
        display: flex;
        margin-right: 2rem;
      }
    }
  }
}
