// Для стилизации выпадающего меню я использовал статью https://html5book.ru/mnogourovnevoe-vypadayushee-menu/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //z-index: -1;

  &__logo {
    display: flex;
    //flex-basis: 26%;
    //justify-content: center;
  }

  &__right {
    display: flex;
    //justify-content: flex-end;
    //flex-basis: 64.2%;
    //padding-left: 2.3rem;
  }

  &__sign {
    display: flex;
    align-items: center;
    margin-left: 0.2rem;
    // Промежуток между кнопками
    & > :first-child {
      margin-right: 2rem;
    }
  }

  & .material-icons {
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;

    display: flex;
    align-items: center;
    text-align: center;

    color: rgba(31, 32, 65, 0.5);
  }

  &__vertical-bar {
    height: 3rem;
    width: 1px;
    background: rgba(31, 32, 65, 0.1);
  }

  &__username {
    display: flex;
    align-items: center;
  }
}

/*
@media (max-width: 950px) {
  .header__nav {
    display: none;
  }

  .header__sign {
    display: none;
  }
}
*/
