//- 
  options.username - имя пользователя

mixin header(options = {})

  - let {username = ''} = options

  .header
    .header__logo
      +logo()
    .header__right
      .header__menu
        +menu()
      .header__menu_mobile
        +menu({type: 'mobile'})
      .header__sign 
        if (username !== '')
          .header__vertical-bar
          .header__username= username
        else
          +button({text: 'Войти', style: 'lt', size: 'sm'})   
          +button({text: 'Зарегистрироваться', size: 'sm'})


