mixin color-items(name1, name2, value)
    -
      var colors = ""
      colors += "background: " + value

    .color-item
        .color-item__rectangle(style!=colors)        
        .color-item__label
            .color-item__name= name1
            .color-item__name= name2
