.color-table {
  &__item {
    display: grid;
    grid-template-columns: 8rem 16rem;
    grid-template-rows: 4.5rem 4.5rem;
    grid-column-gap: 3rem;
    grid-row-gap: 0;
    justify-content: center;

    & > :nth-child(3n + 2) {
      align-self: flex-end;
      align-items: center;
      font-weight: bold;
    }

    & > :nth-child(3n + 3) {
      align-self: flex-start;
      font-weight: normal;
    }
  }

  &__rectangle {
    grid-row: span 2;
    width: 7rem;
    height: 7rem;
    border-radius: 0.6rem;
    align-self: center;
  }

  &__name {
    grid-column: 2/3;

    font-family: Quicksand, "Open Sans", Arial, sans-serif;
    font-style: normal;

    font-size: 19px;
    line-height: 29px;
    //border: 1px solid #000000;
  }
}

@media screen and (max-width: 450px) {
  .color-table {
    &__item {
      display: block;
      //flex-direction: column;
      //align-items: center;
      padding-bottom: 1rem;
      text-align: center;
    }

    &__rectangle {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &__name {
      text-align: center;
    }
  }
}
