.checkbox
    .checkbox__item
        <input type="checkbox" id="check" name="check" />
        <label for="check">Можно курить</label>
    .checkbox__item
        <input type="checkbox" id="check1" name="check1" />
        <label for="check1">Можно с питомцами</label>
    .checkbox__item
        <input type="checkbox" id="check2" name="check2" />
        <label for="check2">Можно пригласить гостей (до 10 человек)</label>
    
