@import "./src/theme/variables";

.checkbox {
  display: flex;
  flex-direction: column;
  width: 22.2rem;
}

.checkbox__label {
  position: relative;
}

/* прячем стандартный checkbox */
.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  position: absolute;
}

/* стили для текста */
.checkbox__text {
  display: flex;
  @include font-body(normal, 1.4rem, 1.8rem);
  color: $dark-50;
  cursor: pointer;
  padding: 0.5rem 0;

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

/*Стили чекбокса и галочки*/
.checkbox__input + .checkbox__text:before {
  content: "";
  height: 2rem;
  width: 2rem;
  padding-left: 1.8rem;
  margin-right: 1rem;

  border: 1px solid $dark-25;
  box-sizing: border-box;
  border-radius: 0.4rem;

  /*Стили галочки*/
  background-repeat: no-repeat;
  background-position: 0.4rem;
  background-size: 1rem;
}

.checkbox__input:checked + .checkbox__text:before {
  border: 1px solid $purple;
  background-image: url(../components/checkbox/vector.svg);
}
