form.checkbox(action="")
    label.checkbox__label
        input.checkbox__input(type="checkbox" name="check2")
        span.checkbox__text Можно курить
    label.checkbox__label
        input.checkbox__input(type="checkbox" name="check2")
        span.checkbox__text Можно с питомцами  
    label.checkbox__label
        input.checkbox__input(type="checkbox" name="check2")
        span.checkbox__text Можно пригласить гостей (до 10 человек)