.checkbox
    .checkbox__item
        input(type="checkbox" id="check" name="check")
        label.checkbox__text(for="check") Можно курить
    .checkbox__item
        input(type="checkbox" id="check1" name="check1")
        label.checkbox__text(for="check1") Можно с питомцами
    .checkbox__item
        input(type="checkbox" id="check2" name="check2")
        label.checkbox__text(for="check2") Можно пригласить гостей (до 10 человек))