@import "./src/theme/variables.scss";

.checkbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 222px;
  height: 102px;
  margin-top: 15px;
  //border: 1px solid #000000;

  /* прячем стандартный checkbox */
  input {
    display: none;
  }

  /* стили для текста */
  .checkbox__text {
    display: flex;
    @include font-body(normal, 14px, 18px);
    color: $dark-50;
    cursor: pointer;

    //border: 1px solid #000000;

    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  /*Стили чекбокса и галочки*/
  input + .checkbox__text:before {
    content: "";
    //display: flex;
    height: 20px;
    width: 20px;
    //text-align: center;
    //vertical-align: sub;
    margin-right: 10px;

    border: 1px solid $dark-25;
    box-sizing: border-box;
    border-radius: 4px;

    /*Стили галочки*/
    background-repeat: no-repeat;
    background-position: 4px;
    background-size: 10px;
  }

  input:checked + .checkbox__text:before {
    border: 1px solid $purple;
    background-image: url(../components/checkbox/vector.svg);
  }
}
