.types-table {
  display: grid;
  grid-template-columns: 4rem 31.1rem;
  grid-template-rows: 10rem 8.8rem 5.2rem 5rem;
  grid-column-gap: 3rem;
  grid-row-gap: 1rem;
  justify-content: flex-end;

  @media screen and (max-width: 1200px) {
    //justify-content: start;
  }

  & > :nth-child(odd) {
    text-align: right;

    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    /* Dark 25% */
    color: rgba(31, 32, 65, 0.25);
    white-space: pre-wrap;
  }

  & > :nth-child(1) {
    font-size: 24px;
    line-height: 29px;
  }

  & > :nth-child(2) {
    margin-right: -3rem; //Самое непонятное, что я сделал, чтобы совпало с дизайном.
    //Вопрос: Ошибка дизайна, или так задумано?
  }

  & > :nth-child(3) {
    font-size: 19px;
    line-height: 23px;
  }

  & > :nth-child(5) {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  & > :nth-child(7) {
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (max-width: 450px) {
  .types-table {
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;

    & > :nth-child(odd) {
      text-align: center;
    }

    & > :nth-child(2n) {
      text-align: center;
      margin-bottom: 1rem;
    }
  }
}
