.button {
  position: relative;

  .button__text {
    position: absolute;
    top: 9.5px;
    left: 20.5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-transform: uppercase;
    color: #bc9cff;
  }
}
