.listbox {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.6rem;

    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    color: $dark;
  }

  &_checkbox,
  &_ul {
    min-width: 24rem;
  }

  &__icon-wrapper {
    //margin-left: 4.05rem;
    margin-top: 0.1rem;
  }

  .js-listbox__arrow {
    &_rotate {
      transform: rotate(-180deg);
    }

    & .material-icons {
      font-size: 24px;
      line-height: 20px;
      color: rgba(31, 32, 65, 0.5);
      text-align: center;
    }
  }

  &__ul {
    padding: 0;
    list-style: none;

    & > .listbox__li_checkbox-simple:nth-child(2) {
      margin-bottom: 1rem;
    }

    & > .listbox__li_checkbox-simple:nth-child(3) {
      margin-right: 4rem;
    }
  }

  .js-listbox__drop {
    transition: 0.1s linear;

    &_close {
      display: none;
    }
  }

  &__li {
    margin-bottom: 1.2rem;

    &_checkbox-extended {
      margin-bottom: 0.9rem;
    }

    &_checkbox-simple {
      margin-bottom: 1.1rem;
    }

    &_for-links {
      margin-bottom: 1.4rem;
    }
  }

  &__row {
    display: flex;
  }

  &__icon-mi {
    margin-right: 1rem;
  }

  .listbox__icon-mi {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: hsl(259, 100%, 81%); //Для не поддерживающих градиент браузеров

    margin-right: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
  }

  &__item {
    &-name {
      font-family: Montserrat, Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 2.4rem;
      color: $dark75;
    }

    &-desc {
      font-weight: normal;
    }
  }

  &__separating-line {
    height: 1px;
    background: $dark10;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &__name {
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: $dark75;
  }

  &__desc {
    margin-left: 3rem;
    margin-top: 0.6rem;

    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $dark50;
  }

  &__a {
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);

    &:hover {
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__bulleted-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 2rem;

    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $dark75;
  }

  &__bulleted-li {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 1rem;
  }

  &__bulleted-li:before {
    position: absolute;
    top: 0.7rem;
    left: -2.1rem;
    width: 1rem;
    height: 1rem;
    background: rgba(31, 32, 65, 0.25);
    border-radius: 50%;
    content: " ";
  }
}
