.listbox {
  &__header {
    display: flex;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    /* Dark 100% */
    color: #1f2041;
    margin-bottom: 1.8rem;
  }

  &__title {
    //margin-right: 4rem;
  }

  &__ul {
    padding: 0;
    list-style: none;
  }

  &__drop {
    margin: 0;
    transition: 0.1s linear;
    //min-width: 20rem;
    //transform-origin: 0% 0%;
    //transform: rotateX(-90deg);
    //margin-top: 3rem;
    //transform: rotateX(0deg);

    &_off {
      display: none;
    }
  }

  &__li {
    margin-bottom: 1.4rem;
  }

  &__name {
    margin-top: 1rem;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    /* Dark 75% */
    color: rgba(31, 32, 65, 0.75);
  }

  &__desc {
    margin-left: 3rem;
    margin-top: 0.7rem;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* or 117% */
    /* Dark 50% */
    color: rgba(31, 32, 65, 0.5);
  }
  /*
    &__item {
      position: relative;
      display: flex;
      align-items: center;
    }
    */
  &__a {
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);

    &:hover {
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__arrow {
    &_rotate {
      transform: rotate(-180deg);
    }

    & .material-icons {
      font-family: Material Icons;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 20px;

      //display: flex;
      //align-items: center;
      //text-align: center;

      color: rgba(31, 32, 65, 0.5);
      text-align: center;
    }
  }

  &__bulleted-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 2rem;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    /* Dark 75% */

    color: rgba(31, 32, 65, 0.75);
  }

  &__bulleted-li {
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 1rem;
  }

  &__bulleted-li:before {
    position: absolute;
    left: -2rem;
    width: 1rem;
    height: 1rem;
    background: rgba(31, 32, 65, 0.25);
    border-radius: 50%;
    //text-align: center;
    content: " ";
  }
}
