mixin toggle(options = {})
  - let {label = 'Получать спецпредложения', on = false} = options
  label.toggle
    if on
      input(type='checkbox' checked)
    else
      input(type='checkbox')
    span.toggle__text= label
