mixin search-rooms()    
    form.search-rooms
        +text({text: 'Найдём номера под ваши пожелания', size: 'h1'})
        .search-rooms__dade-picker
            .search-rooms__arrival-date
                +text({text: 'Прибытие', size: 'h3'})
                +date()
            .search-rooms__departure-date
                +text({text: 'Выезд', size: 'h3'})
                +date()
        +text({text: 'Гости', size: 'h3'})
        +dropdown()
        +button({text: "Подобрать номер", style: "ic"})        