mixin search-rooms()    
    form.search-rooms
        h1.search-rooms__title Найдём номера под ваши пожелания        
        .search-rooms__dade-picker
            .search-rooms__arrival-date
                h3.search-rooms__label Прибытие
                .search-rooms__date
                    +date()
            .search-rooms__departure-date
                h3.search-rooms__label Выезд
                .search-rooms__date
                    +date()
        h3.search-rooms__label Гости
        .search-rooms__guests
            +dropdown()
        .search-rooms__button
            +button({text: "Подобрать номер", style: "ic"})        