extends ../template 

block title
  |  Страница Sign up

block main   
    .signup-pg

        .signup-pg__header
            +header()
        .signup-pg__frame
            .signup-pg__signup
                +signup()
        .signup-pg__footer
            +footer()