extends ../template 

block title
  |  Страница Sign up

block main   
    .signup-pg
        +header()
        .signup-pg__main
            .signup-pg__signup
                +signup()
        .signup-pg__footer
            +footer()