.signup-pg {
  width: 100%;
  min-width: 32rem;

  &__main {
    background: url("img/image4.jpg") 0 -7rem no-repeat;
    background-size: cover;

    padding: 2rem 2rem;

    @media (max-width: 1440px) {
      background-size: auto;
    }
  }

  &__signup {
    display: flex;
    justify-content: center;
    margin-left: 0.5rem;
    margin-top: -0.1rem;

    @media (max-width: 768px) {
      margin: 0;
    }
  }
}
