.date {
  position: relative;
  display: flex;
}
.date__input {
  padding: 1.2rem;
  width: 15rem;
}
.date__icon {
  position: absolute;
  top: 1rem;
  left: 11.6rem;
  margin-right: 1rem;
  display: flex;
  pointer-events: none;
  font-family: Material-Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 2.4rem;
  /* Dark 50% */
  color: rgba(31, 32, 65, 0.5);
}

.ui-datepicker {
  width: 31.4rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  /* Dark 50% */
  color: rgba(31, 32, 65, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ui-datepicker .ui-datepicker-header {
  background: #ffffff;
  border: none;
  padding: 2rem 0;
  font-style: normal;
  font-weight: bold;
  font-size: 1.9rem;
  line-height: 2.4rem;
  /* identical to box height */
  text-align: center;
  /* Dark 100% */
  color: #1f2041;
}
.ui-datepicker .ui-widget-header .ui-icon {
  background-image: none;
}
.ui-datepicker table {
  font-size: 1.2rem;
  border-collapse: separate;
  border-spacing: 0;
}
.ui-datepicker th {
  color: #bc9cff;
  cursor: pointer;
}
.ui-datepicker th:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ui-datepicker .ui-state-default {
  text-align: center;
  border: none;
  background: #ffffff;
}
.ui-datepicker .ui-state-active {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
}
.ui-datepicker .ui-state-highlight {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border-radius: 22px;
  color: #ffffff;
}
.ui-datepicker .ui-datepicker-buttonpane {
  border: none;
}
.ui-datepicker td {
  padding: 0;
}
.ui-datepicker td a {
  padding: 1.5rem;
}
.ui-datepicker td a:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
}
.ui-datepicker .ui-datepicker-current {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
}
.ui-datepicker .ui-datepicker-current:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ui-datepicker .ui-datepicker-close {
  font-family: Montserrat;
  font-style: normal;
  text-transform: uppercase;
  color: #bc9cff;
}
.ui-datepicker .ui-datepicker-close:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ui-datepicker .ui-datepicker-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #bc9cff;
  top: 2rem;
}
.ui-datepicker .ui-datepicker-prev-hover {
  background: none;
  border: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ui-datepicker .ui-datepicker-next {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #bc9cff;
  top: 2rem;
}
.ui-datepicker .ui-datepicker-next-hover {
  background: none;
  border: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

/*# sourceMappingURL=../date.c3bc2baa.css.map */