<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        menu.nav-bar
            ul                
                li 
                    a(class='button' href='#') Home
                li 
                    a(class='button' href='#') About Us
                li 
                    a(class='button' href='#') Services
                li 
                    a(class='button' href='#') Careers
                li 
                    a(class='button' href='#') News
                li 
                    a(class='button' href='#') Documentation
       
        script(src='./main.js')

