.cards {
  &__logo {
    margin-top: 3rem;
    margin-left: 3rem;
  }

  &__contents {
    display: flex;
    justify-content: center;
    margin-top: 7.2rem;

    & > * {
      flex: 1 1 0;
      max-width: 42rem;
    }

    & > :last-child {
      max-width: 32rem;
    }
  }

  &__columns {
    & > * {
      margin-bottom: 4rem;
    }
  }
}
