.cards {
  &__logo {
    margin-top: 3rem;
    margin-left: 3rem;
  }

  &__contents {
    display: flex;
    justify-content: center;
    margin-top: 7.2rem;
  }

  &__columns {
    margin-right: 4rem;

    & > * {
      margin-bottom: 4rem;
    }
  }
}
