.slider {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.3rem;
  }

  &__label {
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark;
  }

  &__input {
    border: 0;
    text-align: right;
    width: 12rem;
    //margin-bottom: 0.3rem;
    margin-right: 0.1rem;

    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
    color: $dark50;
  }

  &__legend {
    line-height: 14px;
    color: $dark50;

    margin-top: 1.5rem;
  }

  & .ui-state-default,
  & .ui-widget-content .ui-state-default {
    border: 2px solid #ffffff;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  }

  & .ui-widget-content {
    border: 1px solid $dark25;
  }

  & .ui-slider-handle {
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
  }

  & .ui-slider-horizontal {
    height: 0.6rem;
    box-sizing: border-box;
  }

  & .ui-slider-horizontal .ui-slider-handle {
    top: -0.6rem;
    margin-left: -1rem;
  }

  & .ui-widget-header {
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  }
}
