mixin slider(options={})
  - let {label = ''} = options

  .slider
      p.slider__header
        span.slider__label(for="amount")= label
        input.slider__input(type="text" id="amount" readonly)

      .slider-range(id="slider-range")
      .slider__legend Стоимость за сутки пребывания в номере