//- 
  options.label - 
  options.legend - 

mixin slider(options = {})
  - let {label = '', legend = ''} = options

  .slider
      .slider__header
        span.slider__label(for='amount')= label
        input.slider__input(type='text' id='amount' readonly)

      .slider-range(id='slider-range')
      .slider__legend= legend